.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
}

.production {
  padding: 15% 5% 0 5%;
  background: url("/images/home-bcg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 80svh;
  width: 100%;
}

.title {
  width: 40%;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
}

.subtitle {
  width: 55%;
  font-size: 1.5rem;
  color: white;
}

@media screen and (max-width: 992px) {
  .production {
    min-height: 60svh;
  }
}

@media screen and (max-width: 768px) {
  .production {
    min-height: 50svh;
  }
}

@media screen and (max-width: 576px) {
  .production {
    min-height: 40svh;
  }
}
// Enable hover only on non-touch devices
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
